@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Pattaya&family=Poppins:ital,wght@1,600&display=swap');

:root {
  font-family: 'Montserrat', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  --color-white: rgba(255, 255, 255, 0.87);
  --color-black: #242424;
  --color-light-grey: #a7a7a7;
  --color-grey: #858484;
  --color-dark-grey: #4F4F4F;
  --color-green: #3CB46E;
  --color-dark-green: #2e8b55;
  /* color-scheme: light dark; */
  color: var(--color-black);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  transition: all 0.3s ease;
}

a {
  font-weight: 500;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  color: var(--color-light-grey);
}

body {
  margin: 0;
}

h1{font-size: 2rem;}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}
button:hover {
  background-color: var(--color-dark-green);
  transition: all 0.3s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 1000px) {
  :root{
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  :root{
    font-size: 12px;
  }
}
@media (max-width: 550px) {
  .header{
      margin: 0rem 1rem !important;
  }
}

@media (max-width: 350px) {
  :root{
    font-size: 10px;
  }
}